<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_barralateral.css}">
    <link rel="stylesheet" th:href="@{/css/style_buscarfuncionario.css}">
    <title>Buscar equipamento</title>
</head>
<body>
<div id="content-main">
    <div id="barra-lateral">
        <div id="logo">
            <h2>TrackBug</h2>
        </div>
        <div class="area-home">
            <div class="area-btn">
                <a th:href="@{/}" class="btn-funcao">Início</a>
            </div>
        </div>
        <div class="botoes-barra-lateral">
            <div class="area-btn">
                <a th:href="@{/cadastraFuncionario}" class="btn-funcao">Cadastrar funcionário</a>
            </div>
            <div class="area-btn">
                <a th:href="@{/cadastraEquipamento}" class="btn-funcao">Cadastrar equipamento</a>
            </div>
            <div class="area-btn">
                <a th:href="@{/novoEmprestimo}" class="btn-funcao">Novo empréstimo</a>
            </div>
        </div>
        <div class="botoes-barra-lateral">
            <div class="area-btn">
                <a th:href="@{/listarFuncionarios}" class="btn-funcao">Lista de funcionários</a>
            </div>
            <div class="area-btn">
                <a th:href="@{/listarEquipamentos}" class="btn-funcao">Lista de equipamentos</a>
            </div>
            <div class="area-btn">
                <a th:href="@{/listarEmprestimos}" class="btn-funcao">Lista de empréstimos</a>
            </div>
        </div>
        <div class="area-home">
            <div class="area-btn">
                <a th:href="@{/historicoEmprestimos}" class="btn-funcao">Histórico de empréstimos</a>
            </div>
        </div>
        <div class="botoes-barra-lateral">
            <div class="area-btn">
                <a href="" class="btn-funcao">Buscar funcionário</a>
            </div>
            <div class="area-btn">
                <a href="" class="btn-funcao">Buscar equipamento</a>
            </div>
            <div class="area-btn">
                <a href="" class="btn-funcao">Buscar empréstimo</a>
            </div>
        </div>
    </div>
    <div id="lado-direito">
        <div id="cabecalho-pag"><h2>Buscar equipamento</h2></div>
        <div id="area-formulario">
            <form th:action="@{/buscarEquipamento}" method="get">
                <div class="text-field">
                    <label for="id_equipamento">ID do equipamento:</label>
                    <input type="number" name="id_equipamento" id="id_equipamento" class="campo-id" placeholder="Digite o ID" required>
                </div>
                <div id="area-btn-buscar">
                    <button id="btn-buscar" type="submit">Buscar</button>
                </div>
            </form>
        </div>

        <!-- Área de resultado -->
        <div id="resultado-busca" th:if="${equipamento != null}">
            <h3>Dados do equipamento:</h3>
            <p><strong>ID:</strong> <span th:text="${equipamento.id_equipamento}">ID do equipamento</span></p>
            <p><strong>Descrição:</strong> <span th:text="${equipamento.descricao_eqp}">Descrição</span></p>
            <p><strong>Data de compra:</strong> <span th:text="${equipamento.data_compra_eqp}">Data de compra</span></p>
            <p><strong>Peso:</strong> <span th:text="${equipamento.peso_eqp}">Peso</span></p>
            <p><strong>Largura:</strong> <span th:text="${equipamento.largura_eqp}">Largura</span></p>
            <p><strong>Comprimento:</strong> <span th:text="${equipamento.comprimento_eqp}">Comprimento</span></p>
            <p><strong>Histórico de manutenção:</strong> <span th:text="${equipamento.historico_manutencao_eqp}">Histórico de manutenção</span></p>
            <p><strong>Estado de conservação:</strong> <span th:text="${equipamento.estado_conservacao_eqp}">Estado de conservação</span></p>
            <p><strong>Disponibilidade:</strong> <span th:text="${equipamento.disponibilidade}">Disponibilidade</span></p>

            <div id="botoes">
                <a th:href="@{/editarEquipamento/{id}(id=${equipamento.id_equipamento})}"><button class="editar">Editar</button></a>
                <form th:action="@{/deletarEquipamento/{id}(id=${equipamento.id_equipamento})}" method="post" style="display: inline;" class="form-delete">
                    <button type="submit" class="deletar">Deletar</button>
                </form>
            </div>

        </div>
        <div th:if="${erro != null}">
            <p th:text="${erro}" style="margin-left:10px;"></p>
        </div>
    </div>
</div>
</body>
</html>