<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_barralateral.css}">
    <link rel="stylesheet" th:href="@{/css/style_cadequipamento.css}">
    <title>Editar equipamento</title>
</head>
<body>
    <div id="content-main">
        <div id="barra-lateral">
            <div id="logo">
                <h2>TrackBug</h2>
            </div>
            <div class="area-home">
                <div class="area-btn">
                    <a th:href="@{/}" class="btn-funcao">Início</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a th:href="@{/cadastraFuncionario}" class="btn-funcao">Cadastrar funcionário</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/cadastraEquipamento}" class="btn-funcao">Cadastrar equipamento</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/novoEmprestimo}" class="btn-funcao">Novo empréstimo</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a th:href="@{/listarFuncionarios}" class="btn-funcao">Lista de funcionários</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/listarEquipamentos}" class="btn-funcao">Lista de equipamentos</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/listarEmprestimos}" class="btn-funcao">Lista de empréstimos</a>
                </div>
            </div>
            <div class="area-home">
                <div class="area-btn">
                    <a th:href="@{/historicoEmprestimos}" class="btn-funcao">Histórico de empréstimos</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a th:href="@{/buscarFuncionario}" class="btn-funcao">Buscar funcionário</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/buscarEquipamento}" class="btn-funcao">Buscar equipamento</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/buscarEmprestimo}" class="btn-funcao">Buscar empréstimo</a>
                </div>
            </div>
        </div>
        <div id="lado-direito">
            <div id="cabecalho-pag"><h2>Cadastrar novo equipamento</h2></div>
            <div id="area-formulario">
                <form th:action="@{/salvarEdicaoEquipamento}" th:object="${equipamento}" method="post">
                    <div class="text-field">
                        <input type="hidden" name="id" th:field="${equipamento.id_equipamento}">
                    </div>
                    <div class="text-field">
                        <label for="descricao-equip">Descrição:</label>
                        <input type="text" name="descricao-equip" id="descricao-equip" th:field="*{descricao_eqp}">
                    </div>
                    <div class="text-field">
                        <label for="data-compra">Data de compra:</label>
                        <input type="date" name="data-compra" id="data-compra" th:field="*{data_compra_eqp}">
                    </div>
                    <div class="text-field">
                        <label for="peso-eqp">Peso (g):</label>
                        <input type="text" name="peso-eqp" id="peso-eqp" class="medidas" th:field="*{peso_eqp}">
                    </div>
                    <div class="text-field">
                        <label for="largura-eqp">Largura (cm):</label>
                        <input type="text" name="largura-eqp" id="largura-eqp" class="medidas" th:field="*{largura_eqp}">
                    </div>
                    <div class="text-field">
                        <label for="comprimento-eqp">Comprimento (cm):</label>
                        <input type="text" name="comprimento-eqp" id="comprimento-eqp" class="medidas" th:field="*{comprimento_eqp}">
                    </div>
                    <div class="text-field">
                        <label for="hist-manutencao">Histórico de manutenção:</label>
                        <input type="text" name="hist-manutencao" id="hist-manutencao" th:field="*{historico_manutencao_eqp}">
                    </div>
                    <div class="text-field">
                        <label for="estado-conserv">Estado de conservação:</label>
                        <input type="text" name="estado-conserv" id="estado-conserv" th:field="*{estado_conservacao_eqp}">
                    </div>
                    <div id="area-btn-salvar">
                        <button id="btn-salvar">Salvar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>