<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_novoemprestimo.css}">
    <link rel="stylesheet" th:href="@{/css/style_barralateral.css}">
    <title>Editar empréstimo</title>
</head>
<body>
    <div id="content-main">
        <div id="barra-lateral">
            <div id="logo">
                <h2>TrackBug</h2>
            </div>
            <div class="area-home">
                <div class="area-btn">
                    <a th:href="@{/}" class="btn-funcao">Início</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a th:href="@{/cadastraFuncionario}" class="btn-funcao">Cadastrar funcionário</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/cadastraEquipamento}" class="btn-funcao">Cadastrar equipamento</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/novoEmprestimo}" class="btn-funcao">Novo empréstimo</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a th:href="@{/listarFuncionarios}" class="btn-funcao">Lista de funcionários</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/listarEquipamentos}" class="btn-funcao">Lista de equipamentos</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/listarEmprestimos}" class="btn-funcao">Lista de empréstimos</a>
                </div>
            </div>
            <div class="area-home">
                <div class="area-btn">
                    <a th:href="@{/historicoEmprestimos}" class="btn-funcao">Histórico de empréstimos</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a href="" class="btn-funcao">Buscar funcionário</a>
                </div>
                <div class="area-btn">
                    <a href="" class="btn-funcao">Buscar equipamento</a>
                </div>
                <div class="area-btn">
                    <a href="" class="btn-funcao">Buscar empréstimo</a>
                </div>
            </div>
        </div>
        <div id="lado-direito">
            <div id="cabecalho-pag"><h2>Editar empréstimo de equipamento</h2></div>
            <div id="area-formulario">
                <form th:action="@{/salvarEdicaoEmprestimo}" th:object="${emprestimo}" method="post">
                    <div class="text-field">
                        <input type="hidden" th:field="*{id}">
                    </div>
                    <div class="text-field">
                        <label for="nome_funcionario">Funcionário:</label>
                        <input type="text" id="nome_funcionario" name="nome_funcionario" th:field="${emprestimo.funcionario_responsavel.nome_funcionario}" readonly>
                        <input type="hidden" name="id_funcionario" th:field="${emprestimo.funcionario_responsavel.id_funcionario}">
                    </div>

                    <div class="text-field">
                        <label for="desc_equipamento">Equipamento:</label>
                        <input type="text" id="desc_equipamento" th:field="${emprestimo.equipamento.descricao_eqp}" readonly>
                        <input type="hidden" name="id_equipamento" th:field="${emprestimo.equipamento.id_equipamento}">
                    </div>

                    <div class="text-field">
                        <label for="data-saida">Data de saída:</label>
                        <input type="datetime-local" name="data-saida" id="data-saida" class="data-emprestimo" th:field="*{data_hora_saida}">
                    </div>
                    <div class="text-field">
                        <label for="data-retorno">Data de retorno:</label>
                        <input type="datetime-local" name="data-retorno" id="data-retorno" class="data-emprestimo" th:field="*{data_hora_retorno}">
                    </div>
                    <div class="text-field">
                        <label for="obs-emprestimo">Observações:</label>
                        <input type="text" name="obs-emprestimo" id="obs-emprestimo" th:field="*{observacoes_emprestimo}">
                    </div>
                    <div id="area-btn-salvar">
                        <button id="btn-salvar">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>