<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_barralateral.css}">
    <title>TrackBug - Início</title>
</head>
<body>
    <div id="content-main">
        <div id="barra-lateral">
            <div id="logo">
                 <h2>TrackBug</h2>
            </div>
            <div class="area-home">
                <div class="area-btn">
                    <a th:href="@{/}" class="btn-funcao">Início</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a th:href="@{/cadastraFuncionario}" class="btn-funcao">Cadastrar funcionário</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/cadastraEquipamento}" class="btn-funcao">Cadastrar equipamento</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/novoEmprestimo}" class="btn-funcao">Novo empréstimo</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a th:href="@{/listarFuncionarios}" class="btn-funcao">Lista de funcionários</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/listarEquipamentos}" class="btn-funcao">Lista de equipamentos</a>
                </div>
                <div class="area-btn">
                    <a th:href="@{/listarEmprestimos}" class="btn-funcao">Lista de empréstimos</a>
                </div>
            </div>
            <div class="area-home">
                <div class="area-btn">
                    <a th:href="@{/historicoEmprestimos}" class="btn-funcao">Histórico de empréstimos</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a href="" class="btn-funcao">Buscar funcionário</a>
                </div>
                <div class="area-btn">
                    <a href="" class="btn-funcao">Buscar equipamento</a>
                </div>
                <div class="area-btn">
                    <a href="" class="btn-funcao">Buscar empréstimo</a>
                </div>
            </div>
        </div>
        <div id="lado-direito">
            <div id="cabecalho-pag"><h2>Início</h2></div>
            <div id="cards-home">
                <div id="card1">
                    <h3>Funcionários cadastrados</h3>
                    <h1><span th:text="${countFuncionario}">0</span></h1>
                    <a th:href="@{/listarFuncionarios}">
                        <button class="btn-vertodos">Ver todos</button>
                    </a>
                </div>
                <div id="card2">
                    <h3>Equipamentos cadastrados</h3>
                    <h1><span th:text="${countEquipamento}">0</span></h1>
                    <a th:href="@{/listarEquipamentos}">
                        <button class="btn-vertodos">Ver todos</button>
                    </a>
                </div>
                <div id="card3">
                    <h3>Empréstimos realizados</h3>
                    <h1><span th:text="${countEmprestimo}">0</span></h1>
                    <a th:href="@{/listarEmprestimos}">
                        <button class="btn-vertodos">Ver todos</button>
                    </a>    
                </div>
            </div>
            <div id="cabecalho-emprestimos">
                <h2>Empréstimos atrasados</h2>
            </div>
            <div id="area-tabela">
                <table class="striped-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Equipamento</th>
                            <th>Funcionário</th>
                            <th>Data de saída</th>
                            <th>Data de retorno</th>
                            <th>Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
