<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style_index.css">
    <title>TrackBug - Início</title>
</head>
<header>
    <h2>TrackBug</h2>
</header>
<body>
    <div id="content-main">
        <div id="barra-lateral">
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <button class="btn-funcao">Cadastrar funcionário</button>
                </div>
                <div class="area-btn">
                    <button class="btn-funcao">Cadastrar equipamento</button>
                </div>
                <div class="area-btn">
                    <button class="btn-funcao">Novo empréstimo</button>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <button class="btn-funcao">Excluir funcionário</button>
                </div>
                <div class="area-btn">
                    <button class="btn-funcao">Excluir equipamento</button>
                </div>
                <div class="area-btn">
                    <button class="btn-funcao">Devolver equipamento</button>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <button class="btn-funcao">Listar funcionários</button>
                </div>
                <div class="area-btn">
                    <button class="btn-funcao">Listar equipamentos</button>
                </div>
                <div class="area-btn">
                    <button class="btn-funcao">Listar empréstimos</button>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <button class="btn-funcao">Buscar funcionário</button>
                </div>
                <div class="area-btn">
                    <button class="btn-funcao">Buscar equipamento</button>
                </div>
                <div class="area-btn">
                    <button class="btn-funcao">Buscar empréstimo</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
