<!doctype html>
<!--<html xmlns:th="http://www.thymeleaf.org">!-->
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">!-->
    <!--<link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_barralateral.css}">!-->
    <link rel="stylesheet" href="../static/css/style_listarequipamentos.css">
    <link rel="stylesheet" href="../static/css/style_barralateral.css">
    <title>Lista de equipamentos</title>
</head>
<body>
    <div id="content-main">
        <div id="barra-lateral">
            <div id="logo">
                 <h2>TrackBug</h2>
            </div>
            <div class="area-home">
                <div class="area-btn">
                    <a href="index.html" class="btn-funcao">Início</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a href="cad_funcionario.html" class="btn-funcao">Cadastrar funcionário</a>
                </div>
                <div class="area-btn">
                    <a href="cad_equipamento.html" class="btn-funcao">Cadastrar equipamento</a>
                </div>
                <div class="area-btn">
                    <a href="novo_emprestimo.html" class="btn-funcao">Novo empréstimo</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a href="listar_funcion.html" class="btn-funcao">Lista de funcionários</a>
                </div>
                <div class="area-btn">
                    <a href="listar_equipamentos.html" class="btn-funcao">Lista de equipamentos</a>
                </div>
                <div class="area-btn">
                    <a href="listar_emprestimo.html" class="btn-funcao">Lista de empréstimos</a>
                </div>
            </div>
            <div class="area-home">
                <div class="area-btn">
                    <a href="historico_emprestimos.html" class="btn-funcao">Históricos de empréstimos</a>
                </div>
            </div>
            <div class="botoes-barra-lateral">
                <div class="area-btn">
                    <a href="" class="btn-funcao">Buscar funcionário</a>
                </div>
                <div class="area-btn">
                    <a href="" class="btn-funcao">Buscar equipamento</a>
                </div>
                <div class="area-btn">
                    <a href="" class="btn-funcao">Buscar empréstimo</a>
                </div>
            </div>
        </div>
        <div id="lado-direito">
            <div id="cabecalho-pag"><h2>Lista de equipamentos</h2></div>
            <div id="area-filtros">
                <label for="filtro-data">Filtrar por:</label>
                <select name="filtro-data" id="filtro-data">
                    <option value="" ></option>
                    <option value="recentes">Mais recentes</option>
                    <option value="antigos">Mais antigos</option>
                </select>

                <label for="disponibilidade">Disponibilidade:</label>
                <select name="disponibilidade" id="disponibilidade">
                    <option value=""></option>
                    <option value="disponiveis">Disponíveis</option>
                    <option value="indisponiveis">Indisponíveis</option>
                </select>
            </div>
            <div id="area-tabela">
                <table class="striped-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descrição</th>
                            <th>Data compra</th>
                            <th>Peso </th>
                            <th>Largura </th>
                            <th>Comprim. </th>
                            <th>Hist. manutenção</th>
                            <th>Est. conservação</th>
                            <th>Disponibilidade</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Furadeira de bancada</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="" class="deletar">Deletar</a></td>
                            <td><a href="" class="editar">Editar</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="" class="deletar">Deletar</a></td>
                            <td><a href="" class="editar">Editar</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="" class="deletar">Deletar</a></td>
                            <td><a href="" class="editar">Editar</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="" class="deletar">Deletar</a></td>
                            <td><a href="" class="editar">Editar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
